.app {
  background-color: #111;
  color: white;
  min-height: 100vh; /* makes it at least full screen height */
  width: 100%;
  overflow-x: hidden;
}
body{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
*{
    margin: 0;
    padding: 0;

}