.banner {
  position: relative;
  color: white;
  height: 470px; /* or whatever height you want */
background-image: url('https://image.tmdb.org/t/p/original/s3TBrRGB1iav7gFOCNx3H31MoES.jpg');
  background-position: center; /* centers the image */
  background-repeat: no-repeat; /* prevents repeating */
  background-size: cover; /* scales image to cover container */
}

.banner_contents {
  padding-top: 150px;
  height: 204px;
  padding-left: 20px;
  size: 20rem;
  
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  font-size: 1rem;
  max-width: 580px;
  height: 120px;
}

.banner_buttons {
  display: flex;
  gap: 10px;
}

.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 6px;
  padding: 0.5rem 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
}

.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37,37,37,.61), #111);
}
