.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  padding: 20px;
  color: white;
}

.logo {
  width: 100px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

li {
  cursor: pointer;
  font-weight: 500;
}
